.eiendelerWrapper {
    width: 1000px;
    background-color: #EDEDED;
    margin: auto;
    display: block;
    overflow: auto;
}

.assets {
    width: 800px;
    height: 100%;
    float: right;
}

.categories {
    width: 200px;
    height: 100%;
}

.topBar {
    background-color: #f8f8f8;
    margin: 20px;
    font-size: large;
    display: flex;
    align-items: center;
    height: 50px;
}

.topBarButton {
    display: inline;
    width: 60px;
    height: 40px;
    padding-left: 10px;
}

.finishedButton {
    display: block;
    position: absolute;
    right: calc(50vw - 480px);
    padding-right: 10px;
}

.topBarText {
    display: inline;
    margin-left: 10px;
}

/* Toggle button css */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 3px 0;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }