.description {
  width: 600px;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.tittel {
  color: rgb(85, 141, 85);
  font-size: 30px;
  margin: auto;
  text-align: center;
}

.mainContent {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto 10px auto;
  height: 500px;
}

.mainImage {
  background-image: url("../images/hus.png");
  background-position: center;
  width: 50%;
}

.information {
  background-color: #ededed;
  padding: 80px 0 80px 0;
  width: 80%;
  margin:auto;
}
