.assetWrapper {
    background-color: #afafaf;
    margin: 20px 20px;
    overflow: auto;
    height: 100%;
    padding:10px;
}

.assetWrapper:first-of-type {
    margin-top: 0;
}

.assetName {
    margin: 0;
    font-size: x-large;
    font-weight: bold;
}

.assetCategory {
    margin: 2px;
    font-size:medium;
    font-weight: lighter;
}

.assetDescription {
    min-height: 100px;
}

.assetImage {
    height:300px;
    width:fit-content;
    height: fit-content;
    float: left;
    margin-right: 20px;

}

.priority > button {
    border: solid 1px grey;
    background-color: lightblue;
}

.priority > button:hover {
    background-color: white;
}

.priority {
    display: inline-flex;
    flex-direction: column;
    width: 50px;
    margin: 0;
}