.assetWrapper {
  background-color: #b3b0b0ec;
  margin: 20px 20px;
  overflow: auto;
  height: 100%;
  padding: 10px;
  display: flex;
}

.assetColour {
  background-color: #8fad8fda;
}

.assetWrapper:first-of-type {
  margin-top: 0;
}

.assetName {
  margin: 0;
  font-size: x-large;
  font-weight: bold;
}

.assetCategory {
  margin: 2px;
  font-size: medium;
  font-weight: lighter;
}

.assetDescription {
  min-height: 100px;
}

.assetImage {
  height: 300px;
  width: fit-content;
  height: fit-content;
  float: left;
  margin-right: 20px;
}

.asset {
  display: inline-block;
}

.priorityWrapper {
  display: inline-block;
  height: 100px;
  margin-right: 20px;
  align-self: baseline;
}

.priority > button {
  cursor: pointer;
  border: none;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0);
}

.priority > button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.priority {
  display: inline-flex;
  flex-direction: column;
  width: 50px;
  margin: 0;
}

.priorityNr {
  font-size: large;
  align-self: center;
}
