.decisions > button {
    border: none;
    color: white;
    padding: 5px 20px 5px 20px;
    font-size: large;
    font-weight: bold;
    margin-left: 10px;
}

.decisions > button:first-of-type {
    margin: 0;
}

.decisions > button:hover {
    color: lightgrey;
}