.footer {
    position: relative; 
    margin-top: 500px;
    botton: 0;
    height: 200px;
    width: 1250px;
    padding-top: 50px;
    background-color: rgb(111, 143, 115);
    text-align: center;
}