.registerContainer input {
  padding: 8px 10px;
  border: solid 1px lightgrey;
  font-size: medium;
  width: 70%;
}

.registerContainer input:hover {
  border: solid 1px grey;
}

.signUp {
  text-align: center;
  border-radius: 3px;
  padding: 8px 16px;
  font-size: 20px;
  border: none;
  margin-top: 25px;
}

.signUp:hover {
  background-color: rgb(230, 230, 230);
}

.form-group {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto 0 auto;
}

.registerContainer {
  width: 50%;
  margin: 75px auto 0 auto;
  text-align: center;
  background-color: #b3c5b9;
  padding: 15px 10px;
}
