body {
  margin: 80px;
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hus {
  width: 570px;
  height: 470px;
  position: absolute;
  margin-left: 120px;
}

#lorem {
  margin: auto;
  width: 400px;
  text-align: center;
  margin-bottom: 70px;
}

#tittel {
  color: rgb(85, 141, 85);
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

.login-wrapper {
  display: flex;
  /*float: right;*/
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-left: 800px;
  border-bottom: 1px solid #58a4b0;
  border: 0;
  background: transparent;
  padding: 2px 10px;
  color: rgb(136, 161, 136);
}

#knapp {
  text-align: center;
  border-radius: 7px;
  size: 50px;
  border: none;
  
}