body {
  margin: 85px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hus {
  height: 600px;
  margin-left: 0px;
}

#description {
  margin: auto;
  width: 600px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 70px;
}

#tittel {
  color: rgb(85, 141, 85);
  font-size: 30px;
  margin: auto;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 10px;
}